.container { 
    margin: auto;
    display: block;
    width: 80%;
    padding-bottom: 30px;
}



button {
    padding: 5px;
    margin: 10px;
}




h2 {
    font-weight: 200;
    text-align: center;
}



.center {
    margin: auto;
    text-align: center;
}