.NavigationItem {
    margin: 10px 0;
    width: 100%;
    float: left;
}

.NavigationItem a {
    color: black;
    text-decoration: none;
    width: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 10px;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 10px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        border-bottom: 4px solid #40A4C8;
        color: black;
    }
}